.mojFooter{
    background-color: black;
    color: #00a651;
    padding-top: 0px;
    border-top: 1px solid #e7e7e7;
    margin-bottom: 0px;
}

.bottom-footer{
    border-top: 1px solid #00a651;
    margin-top: 0px;
    padding-top: 7px;
    color: #00a651;

}

.footer-nav li{
    display: inline;
    padding: 0px 40px;
}

.footer-nav a{
    color: grey;
    text-decoration: none;
}
.footer-nav  .fb .twit .google a{
    color: white;
}
.footer-nav  .fb:hover{
    background-color:#4267B2; 
    color: white;
}
.footer-nav  .fb a:hover{
    background-color:#4267B2; 
    color: white;
}