            <footer class="mojFooter">
                     <div class="container">
                    <div class="row" style="margin-top: 7px;">
                         <p> &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &copy; Copyright TechAppz@ 2018.</p> 
                    </div>
                    <div class="bottom-footer">
                        <div class="col-md-12"> 
                            <ul class="footer-nav">
                                <li class="fb" > <a href="https://www.facebook.com/prakash32596"> Facebook </a> </li>
                                <li class="twit"> <a  href="https://twitter.com/prakash32596"> Twitter </a> </li>
                                <li class="google"> <a  href="https://plus.google.com/prakash32596"> Google+ </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
          
            </footer>