
  <div class="jumbotron">
<div class="container ">
     <img class="imgcentre" src="http://d585tldpucybw.cloudfront.net/sfimages/default-source/default-album/angular_870x220_3da84339d060649e98e04b141d2932cdf.png?sfvrsn=11f397fb_1" alt="">
           <h3 class="">What is Angular?</h3>                              
               <pre><code class="txt">
                Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates,  
dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers developers 
to build applications that live on the web, mobile, or the desktop
               </code></pre> 
  </div>
              
  
  </div>
<!---card conteainer-->
<div class="container">
<div class="card-columns">
  <div class="card">
    <div class="card-header bg-primary text-centre">
    <p class="text-centre">  Angular-Cli setup</p>
    </div>
    <div class="card-body">
    <img class="image1" src="./assets/images/cli-logo.svg" alt="">
    </div>
    <div class="card-footer text-centre">
        <button class="btn-info btn btn-outline-primary">Getting Started</button>
    </div>
  </div>
  <div class="card">
    <div class=" card-header bg-primary">
     <p class="text-centre">Angular-Project setup</p>   
    </div>
    <div class="card-body">
    <img class="image2" src="./assets/images/project.png" alt="">
    </div>
    <div class="card-footer">
        <button class="btn-outline-primary btn ">Getting Started</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-primary">
        <p class="text-centre">Angular-Material setup</p>
    </div>
    <div class="card-body">
    <img class="image3" src="./assets/images/js.jpg" alt="">
    </div>
    <div class="card-footer">
        <button class="btnside btn-info btn btn-outline-primary" data-toggle="modal" data-target="bd-example-modal-lg">Getting Started</button>
    
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
    <script>
$('.bd-example-modal-lg').on('show.bs.modal', function () {
  $('btn').show('')
})
</script>
  </div>
</div>

    
    
      </div>
  </div>
  </div>

</div>
